name: Generate

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * *'

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3

      - run: |
          go run ./internal/gen

      - run: |
          if git diff --exit-code; then
            echo "No Changes"
          else
            git config --local user.email "github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git add -A
            git commit -m "Update generated code for https://github.com/github/rest-api-description/commits/$(cat rest-api-description_sha.txt)"
            git push origin main
          fi
